.card {
    max-width: 500px;
    margin: auto;
    color: white;
    border-radius: 20px;
    background-color: #314D87;
}

p {
    margin: 0px
}

.container .h8 {
    font-size: 25px;
    text-align: center
}


.payment-input {
    color: white;
    background-color: #4586D5CC;
    border: 2px solid transparent;
    height: auto;
    padding: 10px;
    vertical-align: middle
}

.payment-input:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none
}

.text {
    font-size: 14px;
    font-weight: 400
}

.payment-input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 400; 
    opacity: 0.3;
}

.btn.btn-primary:hover .payIcon {
    transform: translate(13px);
    transition: transform 0.2s ease-in
}